{% extends "master.html" %}

{% block body %}
  <body id="CategoriesBarPage" class="extraScroll">
	{{ modules.Header() }}
	{{ modules.CategoriesBar() }}
	<div id="wrapper" class="BoardLayout">
	  {% block canvas %}{% end %}
	</div>
	<div class="clear"></div>
	<div id="footer">
	  <div class="HeaderContainer">
		<p>&copy; 2012 Tozuo 京ICP备12018208号-2</p>
	  </div>
	</div>
	<script type="text/javascript">
	  var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	  document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd8591a3eef4c9dc9e2ef10bd06275d3a' type='text/javascript'%3E%3C/script%3E"));
	</script>
  </body>
{% end %}
