<div class="account">
  <div class="account photo">
	<img alt="我的头像" src="/static/big-photo.jpg"/>
  </div>
  <div class="account settings">
	<ul>
	  <li><a href='/me/liked'>我的喜好</a></li>
	  <li><a href='/me/followed'>我的关注</a></li>
	  <li><a href='/me/follower'>我的粉丝</a></li>
	  <li><a href='/me/account'>个人资料</a></li>
	  <li><a href='/me/privacy'>隐私权</a></li>
	</ul>
  </div>
  <div class="account logout">
	<table style="width: 100%">
	  <tr>
		<td><a href="/logout">退出</a></td>
		<td align="right"><a href='/exchange'>切换用户</a></td>
	  </tr>
	</table>
  </div>
</div>
