<div id="Header">
  <div class="LiquidContainer HeaderContainer">
	<a href="/" id="Pinterest">
	  <img src="{{ static_url("images/LogoRed.png") }}" alt="左左-轻博客社区" height="26"/>
	</a>
	<ul id="Navigation">
	  {% if current_user %}
      <li><a class="nav" href="/upload">发布<span class="PlusIcon"></span></a></li>
	  <li>
		<a class="nav" href="/about">关于我们<span></span></a>
		<ul>
          <li><a href="/about/help">帮助</a></li>
          <li><a href="/about/term">开发团队</a></li>
		</ul>
	  </li>
      <li id="UserNav">
        <a class="nav" href="/user/{{ current_user["_id"] }}">
		  <img alt="{{ current_user["name"] }}" src="{{ handler.get_photo_url(current_user) }}"/>{{ current_user["name"] }}<span></span>
		</a>
        <ul>
          <li><a href="/user/{{ current_user["_id"] }}">个人主页</a></li>
		  <li><a href="/user/{{ current_user["_id"] }}?filter=likes">我的喜欢</a></li>
		  <li><a href="/user/{{ current_user["_id"] }}/friends">关注的人</a></li>
          <li class="beforeDivider"><a href="/user/{{ current_user["_id"] }}/followers">我的粉丝</a></li>
          <li class="divider"><a href="/settings">帐户设置</a></li>
          <li><a href="/settings/pwd">更改密码</a></li>
		  <li class="beforeDivider"><a href="/settings/icon">修改头像</a></li>
          <li class="divider"><a href="/logout">退出</a></li>
        </ul>
      </li>
	  {% else %}
	  <li><a href="{{ "/login?next=%s" % url_escape(request.uri) }}" class="nav">登录</a></li>
	  <li><a href="{{ "/join?next=%s" % url_escape(request.uri) }}" class="nav">注册</a></li>
	  {% end %}
	</ul>
	<div id="Search">
      <form action="/search" method="get" class="text" id="searchForm">
		<input aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" onfocus="if (this.value == 'Search') this.value='';"
			   class="ui-autocomplete-input" id="query" name="q" size="27" value="Search" type="text"/>
		<a id="query_button" href="#" class="lg" onclick="if($('#query').val() != '' && $('#query').val() != 'Search') $('#searchForm').submit()">
		  <img src="{{ static_url("images/search.gif") }}" alt="搜索"/>
		</a>
      </form>
	</div>
  </div>
</div>
